body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
#hightlight{
    border: 1px solid red;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.bottom-banner{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.last-part{
    margin-top: 50px;
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.full-stack{
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(skyblue, blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}